* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #1c1c1c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

h1 {
    text-transform: uppercase;
}
