@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #1c1c1c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

h1 {
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.container-small {
  margin: 0 auto;
  max-width: 1000px;
}

.h-100 {
  height: 100%;
}

header .upper-header {
  background-color: #0282f9;
  color: white;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1px;
  font-size: 0.8rem;
}
header .upper-header .container :first-child {
  margin-right: 30px;
}
header .bottom-header {
  background-color: white;
  color: black;
  font-weight: bold;
}
header .bottom-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
header .bottom-header .container img {
  height: 90px;
}
header .bottom-header .container .main-menu {
  flex-grow: 1;
  padding: 0 40px;
}
header .bottom-header .container .main-menu ul {
  display: flex;
  justify-content: space-around;
}
header .bottom-header .container .main-menu ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 5px;
  border-bottom: 6px solid transparent;
}
header .bottom-header .container .main-menu ul li a {
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
}
header .bottom-header .container .main-menu ul li.active {
  color: #0282f9;
  border-bottom: 6px solid #0282f9;
}
header .bottom-header .container .search-bar div {
  border-bottom: 2px solid #0282f9;
  padding: 2px;
}
header .bottom-header .container .search-bar input {
  border: transparent;
  text-align: right;
  width: 140px;
}
header .bottom-header .container .search-bar input::-moz-placeholder {
  color: black;
  font-weight: bold;
}
header .bottom-header .container .search-bar input:-ms-input-placeholder {
  color: black;
  font-weight: bold;
}
header .bottom-header .container .search-bar input::placeholder {
  color: black;
  font-weight: bold;
}
header .bottom-header .container .search-bar input::-ms-input-placeholder {
  color: black;
  font-weight: bold;
}

footer .upper-footer {
  background-image: url("../images/footer-bg.jpg");
  color: #959595;
}
footer .upper-footer .container {
  padding: 35px 0;
}
footer .upper-footer nav > ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 300px;
  align-content: flex-start;
}
footer .upper-footer nav > ul h3 {
  color: white;
  margin: 10px 0;
}
footer .upper-footer nav > ul ul {
  list-style-type: none;
  margin: 5px 40px 5px 0;
}
footer .upper-footer nav > ul ul a {
  font-size: 0.8rem;
}
footer .upper-footer p {
  margin-top: 15px;
  font-size: 0.8rem;
}
footer .upper-footer p a {
  color: #0282f9;
}
footer .bottom-footer {
  background-color: #303030;
  height: 120px;
  color: #0282f9;
  font-size: 1.5rem;
}
footer .bottom-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .bottom-footer .sign-up-button a {
  border: 3px solid #0282f9;
  padding: 0.9rem;
  color: white;
  font-size: 1.1rem;
}
footer .bottom-footer .social {
  font-size: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .bottom-footer .social span {
  margin: 15px;
}
footer .bottom-footer .social img {
  margin: 5px;
}

.featured {
  background-color: #0282f9;
  color: white;
  height: 120px;
  padding: 30px 15px;
}
.featured ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured ul li {
  display: flex;
  align-items: center;
}
.featured ul li a {
  margin: 0 10px;
}
.featured img {
  height: 50px;
  width: auto;
}

.jumbotron {
  max-height: 300px;
  overflow: hidden;
}

.series-gallery .container {
  position: relative;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.series-gallery ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.series-gallery ul li {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  color: white;
  padding: 10px;
}
.series-gallery .card figure {
  width: 100%;
}
.series-gallery .card figure img {
  width: 100%;
  height: 185px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}
.series-gallery .card figure figcaption {
  text-transform: uppercase;
}
.series-gallery .label {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  min-width: 220px;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  background-color: #0282f9;
  transform: translate(0, -50%);
  text-transform: uppercase;
}
.series-gallery button {
  display: inline-block;
  background-color: #0282f9;
  color: white;
  padding: 0.5rem;
  min-width: 180px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: 15px 0;
  text-transform: uppercase;
}

#show-serie .cover-display {
  height: 80px;
  background-color: #0282f9;
}
#show-serie .cover-display .container-small {
  position: relative;
}
#show-serie .cover-display img {
  position: absolute;
  bottom: 20px;
}